# <center><u>Pandas <u></center>

## 1.[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

## **`WATCH VIDEOS IN THE PORTAL`**

### **`Watch Video 1: Pandas Series`**

<p style='text-align: right;'> 1*4=4 points</p>

Import pandas and numpy with their aliases

In [ ]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
a = pd.Series([100,200,300,400])

Print a, and data type

In [ ]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [ ]:
a[2]

300

What are the values of index for series a?

<p style='text-align: right;'> 2*4 = 8 points</p>

In [ ]:

a

0    100
1    200
2    300
3    400
dtype: int64

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:
a = pd.Series([100,200,300,400], index = ['c','a','b','d'])

a

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:
print(a['d'])

400

Sort the values wrt to the index and print it

In [ ]:

a.sort_index(ascending=True)

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

<p style='text-align: right;'> 4*2=8 points</p>

In [ ]:
b = pd.Series([800,450,100], index=['e','f','g'])

b

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
#a = pd.Series.append(a)
a = a.append(b, ignore_index=False)

In [ ]:
#print a again after appending b into it

a

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
a.sort_index(ascending=False)

g    100
f    450
e    800
d    400
c    100
b    300
a    200
dtype: int64

In [ ]:
a.index

Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')

## 2. [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)


### **`Watch Videos 2: Pandas Dataframe`**

<p style='text-align: right;'> 8*2 = 16 points</p>

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
df = pd.DataFrame(a)

df

     0
c  100
a  200
b  300
d  400
e  800
f  450
g  100

Point to ponder! Don't you think series a and dataframe df looks alike? But there must be some difference between them. Hey buddy think and write your thoughts below.

<p style='text-align: right;'> 5 points</p>

<p style='text-align: right;'> 2 + 1*4 = 6 points</p>

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:

df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.
df.index

Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:
df.head(4)

     0
c  100
a  200
b  300
d  400

In [ ]:
df.tail(2)

     0
f  450
g  100

Rename the column of the dataframe as 'points'

<p style='text-align: right;'> 2 points</p>

In [ ]:
df.columns=['points'] #renaming for all columns

df

   points
c     100
a     200
b     300
d     400
e     800
f     450
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

<p style='text-align: right;'> 5 points</p>

In [ ]:
#Create fruits array

fruits = np.array(['mango','mango','apple','orange','apple','orange','apple'])

fruits

array(['mango', 'mango', 'apple', 'orange', 'apple', 'orange', 'apple'],
      dtype='<U6')

In [ ]:
#Create series fruits out of fruits array

fruits = pd.Series(['mango','mango','apple','orange','apple','orange','apple'])

fruits

0     mango
1     mango
2     apple
3    orange
4     apple
5    orange
6     apple
dtype: object

Change the index of fruits to the index of dataframe df

<p style='text-align: right;'> 5 points</p>

In [ ]:

fruits.index = df.index

fruits

c     mango
a     mango
b     apple
d    orange
e     apple
f    orange
g     apple
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:
df['fruits'] = fruits

df

   points  fruits
c     100   mango
a     200   mango
b     300   apple
d     400  orange
e     800   apple
f     450  orange
g     100   apple

Bonus optional question:
What if we had to changed the index of the dataframe?
Try to add any series to the dataframe with the origianl index (when index of series is not same as to the index of dataframe)

Use series as pd.Series([100,200,300,400,500,600,700]) and try to add it to df with column name Bonus_number.

Bonus marks: 5 points

In [ ]:
Bonus_number = pd.Series([100,200,300,400,500,600,700])

Bonus_number

0    100
1    200
2    300
3    400
4    500
5    600
6    700
dtype: int64

In [ ]:
df['Bonus_number'] = Bonus_number
df

   points  fruits  Bonus_number
c     100   mango           NaN
a     200   mango           NaN
b     300   apple           NaN
d     400  orange           NaN
e     800   apple           NaN
f     450  orange           NaN
g     100   apple           NaN

### Part 2

### **`Watch Video 3: Pandas Concatenation`**

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

<p style='text-align: right;'> 2*5=10 points</p>

In [ ]:
d1 = pd.DataFrame({'city' : ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali']})

d1

         city
0  Chandigarh
1       Delhi
2      Kanpur
3     Chennai
4      Manali

In [ ]:
d1['Temperature'] = [15,22,20,26,-2]

Print(d1)

In [ ]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [ ]:
d1.shape

(5, 2)

Set city = d1['city']

In [ ]:
#d1['City'] = d1['city']
d1.rename(columns = {'City':'dummy'}, inplace = True) #renaming for perticular columns

print city <br>
What is the type of city.

In [ ]:
#d1['city']
#print(type(d1))
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

<p style='text-align: right;'> 3+2+5 = 10 points</p>

In [ ]:
d2 = pd.DataFrame({
    'city' : ['Bengalaru','Coimbatore','Srirangam','Pondicherry'],
    'Temperature' : [24,35,36,39]
})

d2

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [ ]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
d3 = pd.concat([d1,d2], axis=0 , ignore_index=True)

d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

In [ ]:
#del d3['dummy']
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

# fun fact at high level

1. .concat() simply stacks multiple DataFrame together either vertically, or stitches horizontally after aligning on index
2. .merge() first aligns two DataFrame' selected common column(s) or index, and then pick up the remaining columns from the aligned rows of each DataFrame

Do you know about join function? This interesting quest we give to you to find.

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

<p style='text-align: right;'> 5+5=10 points</p>

In [ ]:
d3[d3['Temperature'] <= 20]

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:
d3[d3['Temperature'] >= 35]

          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

In [ ]:
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

## 3. Applying functions to columns and creating new columns

### **`VIdeo 4: Top Pandas Commands in Data Science`**

**Note: You can watch full video for more learning or only from timestamp 17:00-20:00**

#### **`Additional Reference:`** https://www.geeksforgeeks.org/python-pandas-apply/

<p style='text-align: right;'> 20 points</p>

In [ ]:
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

def is_ut(x):
    
    # write code below
    if x == 'Chandigarh' or x=='Pondicherry' or x=='Delhi':
      return True
    else:
      return False

is_ut(x)
#for i in d3['city']:
  #res = lambda x,y : False if i== 'Delhi' True :

NameError: ignored

In [ ]:
d3['is_ut'] = d3['city'].apply(is_ut)

In [ ]:
#d3 = d3.drop(['is_ut','is_union'],axis=1)
d3

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here
def c_to_f(c):
  f = ((c*1.8) + 32)
  return f

In [ ]:
# check function c_to_f(10)

c_to_f(10)

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3['temp_farenhiet'] = d3['Temperature'].apply(c_to_f)

In [ ]:
d3

## 4. Indexing and selecting rows in DataFrame

### Reference: **`Video 5: Indexing DataFrame`**

In [ ]:
#d10 = d3
d10

<p style='text-align: right;'> 20 points</p>

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:
d10[d10['is_ut'] == True]

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:
d10[d10['temp_farenhiet']>90]

Select only the first three rows of the dataframe d1.

In [ ]:
d3.iloc[:3]

Select all the rows and last two columns in the dataframe.

In [ ]:
d3.iloc[:,-2:]

## 5. Reading csv file and group by

### Reference: **`Video 6: Reading CSV Files in Colab`**

### **`Video 7: Pandas group by`**

<p style='text-align: right;'> 2*2=4 points</p>

Read the file 'weather_data.csv' and store it in a pandas dataframe 'df'

In [ ]:
df = pd.read_csv('weather_data.csv')
df

print the shape and head of the dataframe

In [ ]:
df.shape

Group the dataframe wrt to 'event' and save the resulting output in a variable named 'g'

<p style='text-align: right;'> 5*3 = 15 points</p>

In [ ]:
g = df.groupby('event')

Print g and  type(g)

In [ ]:
g.first()

#print(type(g))

Iterate over all the temperatures in g and print them

In [ ]:
#for temp in d10.iteritems():
 # print(temp)
for (colname, colvalue) in df.iteritems():
  #print(df['windspeed'].values)
  print(colname, colvalue.values)

In [ ]:
df

   points  fruits  Bonus_number
c     100   mango           NaN
a     200   mango           NaN
b     300   apple           NaN
d     400  orange           NaN
e     800   apple           NaN
f     450  orange           NaN
g     100   apple           NaN

In [ ]:
for temp in df:
  print(df[temp].values)

[100 200 300 400 800 450 100]
['mango' 'mango' 'apple' 'orange' 'apple' 'orange' 'apple']
[nan nan nan nan nan nan nan]

In [ ]:
for temp in df.columns[0:2]:
  print(df[temp].values)

[100 200 300 400 800 450 100]
['mango' 'mango' 'apple' 'orange' 'apple' 'orange' 'apple']

Use the describle method on g to get the complete description on it.

In [ ]:
df.describe

Create a new column in the dataframe df, named 'hot_temp' which contains True if temp is above 30, else False

<p style='text-align: right;'> 5 points</p>

In [ ]:
#code here to filter df with above condition
df['hot_temp'] = df['temperature']>30

In [ ]:
df

## Data Range

### Reference:-**`Video 8: Pandas Date Range`**

<p style='text-align: right;'> 5*3 = 15 points</p>

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [ ]:
a = pd.date_range(start='01-01-2020', end='01-04-2021')

print a

In [ ]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', length=370, freq='D')

What is the len of a?

In [ ]:


print(len(a))

370

What is the type of a?

In [ ]:
print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

________________
# Hey high five! You solved the 4th milestone challenge too! Pawri to banti hai ;)
________________